pipeline/PL_1SALES_PRODUCT_CUST_WITHDATES.json
{
	"name": "PL_1SALES_PRODUCT_CUST_WITHDATES",
	"properties": {
		"activities": [
			{
				"name": "loop_table_names",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "loop through_dates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('table_list')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch_tables",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item()",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "sales",
										"activities": [
											{
												"name": "Wait_sales",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											},
											{
												"name": "Execute Pipeline1",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Wait_sales",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"waitOnCompletion": true
												}
											}
										]
									},
									{
										"value": "product",
										"activities": [
											{
												"name": "Wait_product",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											},
											{
												"name": "Execute Pipeline2",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Wait_product",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"waitOnCompletion": true
												}
											}
										]
									},
									{
										"value": "customer",
										"activities": [
											{
												"name": "Wait_customer",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											},
											{
												"name": "Execute Pipeline3",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Wait_customer",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"waitOnCompletion": true
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Wait_default",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "loop through_dates",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0,10)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append_dates",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "dates_list",
								"value": {
									"value": "@formatDateTime(\r\n    addDays(utcNow(),item())\r\n    )",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sales_file_name": {
				"type": "string"
			},
			"product_file_name": {
				"type": "string"
			},
			"customer_file_name": {
				"type": "string"
			}
		},
		"variables": {
			"table_list": {
				"type": "Array",
				"defaultValue": [
					"sales",
					"product",
					"customer"
				]
			},
			"dates_list": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}