pipeline/PL_loadFilesWithDates.json
{
	"name": "PL_loadFilesWithDates",
	"properties": {
		"activities": [
			{
				"name": "ForEachcopy",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "To_check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('date_values_list')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopySalesSqlBlob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "SalesLT.SalesOrderHeader"
								},
								{
									"name": "Destination",
									"value": "nihasgen2lake/landing/sales/@{concat(\n    replace(\n        replace(\n            replace(pipeline().parameters.sales_table_name_pl, '[', ''),\n            ']', ''\n        ),\n        '.', '_'\n    ),\n    item(),\n    '.csv'\n)\n}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_salesTable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_salescsv",
									"type": "DatasetReference",
									"parameters": {
										"sales_table_name": {
											"value": "@concat(\n    replace(\n        replace(\n            replace(pipeline().parameters.sales_table_name_pl, '[', ''),\n            ']', ''\n        ),\n        '.', '_'\n    ),\n    item(),\n    '.csv'\n)\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "loop_numbers",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0,10)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append_date_values",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "date_values_list",
								"value": {
									"value": "@formatDateTime(adddays(utcNow(),1),'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "To_check",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "loop_numbers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final_array",
					"value": {
						"value": "@variables('date_values_list')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"sales_table_name_pl": {
				"type": "string"
			}
		},
		"variables": {
			"date_values_list": {
				"type": "Array"
			},
			"final_array": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}